[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "experiences"]
	path = experiences
	url = https://github.com/cran/experiences
[submodule "play"]
	path = play
	url = https://github.com/joe-chelladurai/play
[submodule "starry"]
	path = starry
	url = https://github.com/joe-chelladurai/starry
[submodule "uxr"]
	path = uxr
	url = https://github.com/joe-chelladurai/uxr
